.AdminChatWrapper {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	position: relative;
}

.ChatArea {
	position: absolute;
	bottom: 0;
	right: 0;

	background-color: white;

	width: 75%;
	height: 80%;
}

.ChatArea > div {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.Header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px #ccc;
}
