.UserList {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 60px;

	overflow: auto;
}

.UserDetails {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	height: 60px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	width: 100%;

	cursor: pointer;
}

.UserDetails:hover {
	background-color: #eee;
}

.usn {
	font-size: 1.5em;
	margin-left: 12px;
}

.imgContainer {
	overflow: hidden;
	position: relative;
	height: 50px;
	width: 50px;

	border: none;
	border-radius: 50%;

	margin-left: 12px;
}

.imgContainer img {
	position: absolute;
	height: 100%;
	width: 100%;
}
